<div class="container">
  <footer class="footer">
    <small class="label"><a target="_blank" rel="noopener noreferrer" href="https://github.com/georgesamo">&copy; Giorgi Samukashvili 2018</a></small>
      <nav>
        <ul>
          <li><span class="label"><%= link_to "About", about_path %></span></li>
        </ul>
      </nav>
  </footer>
</div>